<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mariachi Creator</title>
  </head>
  <body>
    <center><h1>Mariachi Band</h1></center>
    <p>
      Program for creating a Mariachi band with a random number of musicians
    </p>
    <p><img src={{ url_for('static',
      filename="mariachis.png") }} alt=GroupOfMariachis /></p>
    </td></p>
    <p>
      <center><button><a href="Mariachi">Create band</a></button></center>
    </p>
  </body>
</html>
